In [1]:
# insert (juan, cruz, 12345678901, Pilipinas) to customer table

In [1]:
import psycopg2

# connect to postgres
conn = psycopg2.connect("host=localhost dbname=sparta user=postgres password=Tsuna123!")
cur = conn.cursor()

# sql statement
cur.execute("Select * From Customer")
all = cur.fetchall()
all

[(1, 'juan', '12345678901', 'Pilipinas'),
 (2, 'Jose', '22222222222', 'Pilipinas'),
 (3, 'Juan', '33333333333', 'Pilipinas')]

In [9]:
import psycopg2

# connect to postgres
conn = psycopg2.connect("host=localhost dbname=sparta user=postgres password=Tsuna123!")
cur = conn.cursor()

# sql statement
cur.execute("INSERT INTO customer (c_name, c_phonenumber, c_address) VALUES (%s, %s, %s)",('juan', 12345678901, 'Pilipinas'))
conn.commit()

In [11]:
import psycopg2

# connect to postgres
conn = psycopg2.connect("host=localhost dbname=sparta user=postgres password=Tsuna123!")
cur = conn.cursor()

# sql statement
cur.execute("Select * From customer")
all = cur.fetchall()
all

[(1, 'juan', '12345678901', 'Pilipinas')]

In [12]:
import psycopg2

# connect to postgres
conn = psycopg2.connect("host=localhost dbname=sparta user=postgres password=Tsuna123!")
cur = conn.cursor()

# sql statement
cur.execute("Select * From staff")
all = cur.fetchall()
all

[]

In [13]:
import psycopg2

# connect to postgres
conn = psycopg2.connect("host=localhost dbname=sparta user=postgres password=Tsuna123!")
cur = conn.cursor()

# sql statement
cur.execute("INSERT INTO staff (s_phonenumber, s_address, salary, join_date) VALUES (%s, %s, %s, %s)",(12345678901, 'Liwayway', 1200, '05-11-21'))
conn.commit()

In [14]:
import psycopg2

# connect to postgres
conn = psycopg2.connect("host=localhost dbname=sparta user=postgres password=Tsuna123!")
cur = conn.cursor()

# sql statement
cur.execute("Select * From staff")
all = cur.fetchall()
all

[(1, '12345678901', 'Liwayway', Decimal('1200'), datetime.date(2021, 5, 11))]

In [15]:
import psycopg2

# connect to postgres
conn = psycopg2.connect("host=localhost dbname=sparta user=postgres password=Tsuna123!")
cur = conn.cursor()

# sql statement
cur.execute("INSERT INTO appointment (customer_id, staff_id, app_date) VALUES (%s, %s, %s)",(1, 1, '05-11-21'))
conn.commit()

In [16]:
import psycopg2

# connect to postgres
conn = psycopg2.connect("host=localhost dbname=sparta user=postgres password=Tsuna123!")
cur = conn.cursor()

# sql statement
cur.execute("Select * From appointment")
all = cur.fetchall()
all

[(1, 1, 1, datetime.date(2021, 5, 11))]

In [17]:
import csv
import psycopg2

# connect to postgres
conn = psycopg2.connect("host=localhost dbname=sparta user=postgres password=Tsuna123!")
cur = conn.cursor()

with open('customer.csv','r') as f:
    reader = csv.reader(f)
    next(reader) # skip the header row.
    for row in reader:
        cur.execute(
            "INSERT INTO customer (c_name, c_phonenumber, c_address) VALUES (%s, %s, %s)",
            row
        )
conn.commit()

In [18]:
import psycopg2

# connect to postgres
conn = psycopg2.connect("host=localhost dbname=sparta user=postgres password=Tsuna123!")
cur = conn.cursor()

# sql statement
cur.execute("Select * From customer")
all = cur.fetchall()
all

[(1, 'juan', '12345678901', 'Pilipinas'),
 (2, 'Jose', '22222222222', 'Pilipinas'),
 (3, 'Juan', '33333333333', 'Pilipinas')]

In [25]:
import psycopg2

# connect to postgres
conn = psycopg2.connect("host=localhost dbname=sparta user=postgres password=Tsuna123!")
cur = conn.cursor()

# sql statement
cur.execute("Update appointment SET app_date = '10/14/2020' WHERE appointment_id = 1")
conn.commit()

In [26]:
import psycopg2

# connect to postgres
conn = psycopg2.connect("host=localhost dbname=sparta user=postgres password=Tsuna123!")
cur = conn.cursor()

# sql statement
cur.execute("Select * From appointment")
all = cur.fetchall()
all

[(1, 1, 1, datetime.date(2020, 10, 14))]